<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>And My AXE!</title>
</head>
<body>
  <iframe width="560" height="315" src="http://www.youtube.com/embed/pxPGzj2L3n0?autoplay=1" frameborder="0" allowfullscreen></iframe>
</body>
</html>